<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}?{{ cache_id }}" />
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}?{{ cache_id }}" />
    <link rel="icon " href="{{ url_for('static', filename='images/icon50x50.png') }}?{{ cache_id }}" />
    <title>HostUs</title>
</head>

<body>
    <header>
        <div class="logo ">
        </div>
        <div class="topnav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('contact')}}">Contact</a>
            <a href="{{ url_for('about')}}">About</a>
        </div>
        <button>
            <a href="{{ url_for('login')}}">Login</a>
        </button>
    </header>
    <div class="bg-image"></div>
    <div class="about-section">
        <h1>About Us </h1>
        <!--<h2>What is HostUs?</h2>-->
        <p class="para">Our student hostel booking website is designed to make it easy for students to find and book affordable accommodation near their university or college. With a wide range of options available, including shared apartments, individual rooms, and studios, we cater to all types of budgets and preferences. Our website is user-friendly, secure, and efficient, allowing students to search for rooms and make reservations in just a few clicks. Our goal is to help students find the perfect place to live and thrive during their studies.</p>
    </div>
    <footer>
        <!--<p>
            Hostel Booking
        </p>-->
    </footer>
</body>

</html>