<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}?{{ cache_id }}" />
    <link rel="icon " href="{{ url_for('static', filename='images/icon50x50.png') }}?{{ cache_id }}" />
    <title>HostUs</title>
</head>

<body>
    <header>
        <div class="logo ">
        </div>
        <div class="topnav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('contact')}}">Contact</a>
            <a href="{{ url_for('about')}}">About</a>
        </div>
        <button>
            <a href="{{ url_for('login')}}">Login</a>
        </button>
    </header>
    <div class="bg-image"></div>
    <div class="about-section">
        <h1>About Us </h1>
        <h2>What is HostUs?</h2>
        <p>A web service for exploring and renting hostels to University and College students. Hostel owners can sign up and add their hostels for students to easily locate them.</p>
    </div>
    <footer>
        <p>
            Hostel Booking
        </p>
    </footer>
</body>

</html>