<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}?{{ cache_id }}" />
    <link rel="icon " href="{{ url_for('static', filename='images/icon50x50.png') }}?{{ cache_id }}" />
    <title>HostUs</title>
</head>

<body>
    <header>
        <div class="logo ">
        </div>
        <div class="topnav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('contact')}}">Contact</a>
            <a href="{{ url_for('about')}}">About</a>
        </div>
        <button>
            <a href="{{ url_for('login')}}">Login</a>
        </button>
    </header>

    <h2 class="main">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src={{ url_for( 'static', filename='images/***.png' ) }} alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src={{ url_for( 'static', filename='images/***.png' ) }} alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Software Engineer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>mike@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src={{ url_for( 'static', filename='images/***.png' ) }} alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Web Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>john@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>
            Hostel Booking
        </p>
    </footer>
</body>

</html>