<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}?{{ cache_id }}" />
    <link rel="icon " href="{{ url_for('static', filename='images/icon50x50.png') }}?{{ cache_id }}" />
    <title>HostUs</title>
</head>

<body>
    <header>
        <div class="logo ">
        </div>
        <div class="topnav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('contact')}}">Contact</a>
            <a href="{{ url_for('about')}}">About</a>
        </div>
        <button>
            <a href="{{ url_for('login')}}">Login</a>
        </button>
    </header>

    <h2 class="main">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src={{ url_for( 'static', filename='images/person3.png' ) }} alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p class="body">Our CEO is a dynamic and experienced businesswoman who has a passion for providing quality accommodation for students. She has a strong background in the hospitality industry and has worked with a variety of hotels, hostels, and guesthouses over the years. She has a deep understanding of the needs and preferences of students and has used this knowledge to create a hostel booking programme that is tailored to their needs. Under her leadership, our hostel booking programme has become a trusted and reliable source for student accommodation.</p>
                    <p>Email: janedoe@gmail.com</p>
                    <!--<p><button class="button">Contact</button></p>-->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src={{ url_for( 'static', filename='images/person1_300x300.png' ) }} alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Software Engineer</p>
                    <p class="body">Our software engineer is a skilled and dedicated professional who is responsible for developing and maintaining our hostel booking system. He is always working to improve the functionality and usability of our system, and is always looking for new ways to enhance the user experience. He is known for his problem-solving skills and his ability to think creatively, and he is a valuable member of our team.</p>
                    <p>Email: mikeross@gmail.com</p>
                    <!--<p><button class="button">Contact</button></p>-->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src={{ url_for( 'static', filename='images/person2_300x300.png' ) }} alt="John" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Web Designer</p>
                    <p class="body">Our web designer is a talented and creative individual who has a strong passion for creating user-friendly and visually appealing websites. He has extensive experience in web design and has worked with a variety of clients over the years. He is dedicated to creating websites that are easy to use and navigate, and that provide a seamless and enjoyable experience for users. He has played a key role in the development of our hostel booking system, ensuring that it is user-friendly, intuitive, and visually appealing.</p>
                    <p>Email: john@gmail.com</p>
                    <!--<p><button class="button">Contact</button></p>-->
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Contact Us</p>
        <div class="social">
            <a href="#"><i class="fa-solid fa-phone"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa-brands fa-medium" aria-hidden="true"></i></a>
        </div>
        <p>Hostel Booking  <i class="fa-regular fa-copyright" aria-hidden="true"> 2023</i></p>
    </footer>
</body>

</html>