<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}?{{ cache_id }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}?{{ cache_id }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css') }}?{{ cache_id }}"/>
    <link rel="icon " href="{{ url_for('static', filename='images/icon50x50.png') }}?{{ cache_id }}"/>
    <title>Profile</title>
</head>

<body>
    <header>
        <div class="logo ">
        </div>
        <div class="topnav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('contact')}}">Contact</a>
            <a href="{{ url_for('about')}}">About</a>
        </div>
        <button>
            <a href="{{url_for('logout')}}">Logout</a>
        </button>
    </header>
    <div class="one">
        <div class="two">
            <h1>Menu</h1>
            <ul>
                <li class="active">
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="{{url_for('manage')}}">Manage Hostels</a>
                </li>
                <li><a href="#">Update Profile</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="contentbar">
                <div class="msg">{{ msg }}</div>
                <h1>Your Details</h1>
                </br>
                {% block content %}
                <div class="border">
                    <table class="worddark">
                        </br>
                        </br>
                        </br>
                        
                        <tr>
                            <td>Full name:</td>
                            <td>{{ account.Owner_name }}</td>
                           
                        </tr>
                        <tr>
                            <td>Email ID:</td>
                            <td>{{ account.Email }}</td>
                        </tr>
                        <tr>
                            <td>Contact:</td>
                            <td>{{ account.Phone_no }}</td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td>{{ account.Username }}</td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>{{ account.Password }}</td>
                        </tr>
                        
                    </table>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p>
            Hostel Booking
        </p>
    </footer>
</body>

</html>